{% extends "./index.html" %} {% load static tailwind_tags %} {% block content %}
<main class="text-center m-10 p-10 bg-slate-200 rounded-xl">
  <h1 class="text-3xl">Sobre Nosotros</h1>
  <p class="m-5 mx-60 text-2xl">
    Ad officia aliqua in elit minim aliquip voluptate ex id mollit anim officia
    fugiat elit. Commodo aliquip laboris et sunt excepteur incididunt culpa
    aliqua tempor nisi commodo excepteur. Nisi fugiat laboris ut nostrud non qui
    magna consectetur. <br />
    <br />
    Labore sint duis duis non ut labore enim. Deserunt laborum adipisicing sunt
    cillum dolor. Proident id eiusmod cillum ipsum occaecat aliquip et
    incididunt sunt adipisicing sunt.<br />
    <br />
    Dolore ex nulla esse amet eu consequat commodo ipsum. Officia irure magna
    nulla et anim pariatur reprehenderit aliquip aute consequat in et eu. Magna
    consectetur commodo dolor aute ea ut fugiat voluptate irure incididunt magna
    dolore commodo exercitation. Sunt consequat consectetur ad qui cupidatat id
    cupidatat laborum dolore adipisicing. Ex voluptate reprehenderit consequat
    laborum velit qui pariatur id cupidatat.<br />
    <br />
    Dolore laboris nostrud do sit. Ullamco irure aute sunt adipisicing nulla
    deserunt irure occaecat in dolore. Aliquip mollit deserunt dolor amet
    deserunt fugiat magna elit. Anim minim quis quis proident nulla excepteur.
    Sunt enim sint irure magna cillum minim veniam ipsum ipsum velit. Dolor id
    consequat magna ipsum.<br />
    <br />
    Duis in in qui esse irure proident qui est aliquip reprehenderit mollit do.
    Cupidatat excepteur est ex eu. Lorem amet non excepteur minim laborum amet
    sint irure veniam sit amet mollit. Minim ullamco pariatur ea magna laboris
    deserunt incididunt excepteur cupidatat cupidatat sunt duis ipsum irure.
  </p>
</main>
{% endblock %}
