{% extends "./index.html" %} {% load static tailwind_tags %} {% block content %}
<main class="text-center m-10 bg-slate-200 rounded-xl">
  <div class="py-20 bg-blue-500 mb-10">
    <label class="text-5xl text-white font-bold shadow-black drop-shadow-lg">Sobre Mí</label>
  </div>
  <div class="m-5 mx-60 text-2xl flex flex-col gap-5">
    <img class="w-80 rounded-xl mx-auto" src="../../media/48396333.jpg" alt="foto_de_perfil_nestor" />
    <p class="text-left">
      En este momento me estoy formando como programador con la meta de
      convertirme en un desarrollador Full-Stack. Junto con este curso estoy
      realizando la segunda etapa del Argentina Programa 4.0 y realizando
      proyectos por mi cuenta para no dejar de aprender sobre las diferentes
      tecnologías y herramientas disponibles a los desarrolladores.</p>
      
      <p class="text-left">
      En este proyecto, aparte de Python y Django, implementé Tailwind CSS 
      para aplicar los estilos a los elementos de la página de una manera
      más dinámica y ágil. Si bien estoy muy conforme con el proyecto,
      quedan funcionalidades pendientes por agregar para decir que 
      se encuentra completo(permitir a los usuarios eliminar su cuenta,
      mensajes directos entre usuarios, integración con redes sociales, etc.)
      </p>
    </p>
  </div>
</main>
{% endblock %}
