{% extends "./index.html" %} {% load static tailwind_tags %} {% block content %}
<main class="text-center m-10 bg-slate-200 rounded-xl">
  <h2 class="text-9xl py-10">Artículos</h2>
  <button
    class="bg-indigo-500 shadow-lg p-2 rounded-md text-white hover:bg-white hover:text-black mt-5"
  >
    <a href="{% url 'Crear Artículo' %}">Nuevo Artículo</a>
  </button>
  <ul class="px-60 py-5">
    {% for a in articulo %}
    <li class="my-10">
      <h2 class="text-5xl mb-5 text-left">
        {{a.titulo}} <small class="text-gray-400">- #{{a.id}}</small>
      </h2>

      <h3 class="text-3xl text-left">{{a.subtitulo}}</h3>
      <div class="text-left"><small>{{a.fecha}}</small></div>
      <p class="mt-5 text-left">{{a.cuerpo}}</p>
      <button
        class="bg-indigo-500 shadow-lg p-2 rounded-md text-white hover:bg-white hover:text-black mt-5"
      >
        <a href="{% url "Detalle Artículo" a.pk %}">Detalle</a>
      </button>

      <button
        class="bg-indigo-500 shadow-lg p-2 rounded-md text-white hover:bg-white hover:text-black mt-5"
      >
        <a href="{% url "Editar Artículo" a.pk %}">Editar</a>
      </button>
      <button
        class="bg-indigo-500 shadow-lg p-2 rounded-md text-white hover:bg-white hover:text-black mt-5"
      >
        <a href="{% url "Eliminar Artículo" a.pk %}">Eliminar</a>
      </button>
    </li>

    <button
      class="bg-indigo-500 shadow-lg p-2 rounded-md text-white hover:bg-white hover:text-black my-10"
    >
      <a href="{% url 'Crear Comentario' %}">Nuevo Comentario</a>
    </button>
    <h3>Comentarios...</h3>

    {% for c in comentario %}
    <li>
      <h2>{{c.titulo}} - <small>{{c.fecha}}</small></h2>
      <p>{{c.cuerpo}}</p>
    </li>
    {% empty %}
    <h3>Aún no hay comentarios...</h3>
    {% endfor %} {% endfor %}
  </ul>
</main>
{% endblock %}
