{% extends "./index.html" %} {% load static tailwind_tags %} {% block content %}
<main class="text-center m-10 bg-slate-200 p-10 rounded-xl">
  <h2>Nuevo Comentario</h2>

  <ul>
    <form method="post">
      {% csrf_token %} {{form.media}}
      <li class="my-10">
        <label for="">Autor: {{user}}</label>
        <label class="mx-5">Título:</label>
        <input type="text" name="titulo" id="id_titulo" style="width: 400px" />
      </li>
      <li>{{form.cuerpo}}</li>
      <li class="pt-10">
        <button
          action="submit"
          class="bg-indigo-500 shadow-lg p-2 rounded-md text-white hover:bg-white hover:text-black mt-5"
        >
          Enviar
        </button>
        <input
        type=button
        value='Volver'
        onClick="javascript:history.go(-1);"
        class="bg-indigo-500 hover:cursor-pointer shadow-lg p-2 rounded-md text-white hover:bg-white hover:text-black mt-5"
        >
        </input>
      </li>
    </form>
  </ul>
</main>
{% endblock %}
