{% extends "./index.html" %} {% load static tailwind_tags %} {% block content %}
<main class="text-center m-10 bg-slate-200 rounded-xl">
  <h1>Eliminar Artículo</h1>
  <form action="" method="POST">
    {% csrf_token %} {{form.as_p}}
    <h1>
      Esta seguro que desea eliminar el artículo: {{articulo.titulo}} -
      #{{articulo.id}}
    </h1>
    <button
      class="bg-indigo-500 shadow-lg p-2 rounded-md text-white hover:bg-white hover:text-black mt-5"
    >
      Eliminar
    </button>
    <button
    class="bg-indigo-500 shadow-lg p-2 rounded-md text-white hover:bg-white hover:text-black mt-5"
  >
    <a href="{% url "Artículos" %}">Volver</a>
  </button>
  </form>
</main>
{% endblock %}
