{% extends "./index.html" %} {% load static tailwind_tags %} {% block content %}
<main class="text-center m-10 p-10 bg-slate-200 rounded-xl">
  <h1 class="text-3xl pb-10">Perfil</h1>
  <div>
    <ul class="border-2 rounded-xl border-black p-5 text-2xl flex flex-col gap-3">
        <li>
            {% if request.user.avatar.imagen %}
            <img class="w-40 h-40 m-10 rounded-full mx-auto" src="{{request.user.avatar.imagen.url}}"
            alt="{{request.user.avatar.imagen}}">
            {% else %}
            <label for="html">Sin Avatar</label>
            {% endif %}
        </li>
        <li>
            <label for="html">Usuario:</label>
            {{request.user}}
        </li>
        <li>
            <label for="html">Nombre y Apellido:</label>
            {{request.user.first_name}}
            {{request.user.last_name}}
        </li>
        
        <li>
            <label for="html">Email:</label>
            {{request.user.email}}
        </li>
        <li>
            <label for="html">URL Personal:</label>
            <a class="text-blue-600" href="{{request.user.avatar.link}}">{{request.user.avatar.link}}</a>
        </li>
        <li>
            <label for="html">Descripción:</label>
            <div class="bg-blue-200 p-10 rounded-xl">{{ request.user.avatar.descripcion | safe }}</div>
        </li>
    </ul>
    <div class="pt-10">
        <a class="bg-indigo-500 shadow-lg p-2 rounded-md text-white
        hover:bg-white hover:text-black mt-5" href="{% url "Noticias" %}">Volver</a>
        {% if user.is_authenticated  %}
        <a class="bg-indigo-500 shadow-lg p-2 rounded-md text-white
        hover:bg-white hover:text-black mt-5" href="{% url "Editar Perfil" %}">Editar Perfil</a>
        {% endif %}
    </div>
  </div>
</main>
{% endblock %}