{% extends "./index.html" %} {% load static tailwind_tags %} {% block content %}
<main class="text-center m-10 bg-slate-200 rounded-xl">
  <form action="" method="POST">
    {% csrf_token %} {% if articulo.imagen %}
    <div class="flex place-content-center bg-black">
      <img
        class="mb-10 max-2xl:my-0 rounded-md"
        src="{{articulo.imagen.url}}"
        alt="{{articulo.titulo}}"
      />
    </div>
    {% endif %}
    <div class="py-10 px-60 text-left">
      <h1 class="text-4xl">{{articulo.titulo}}</h1>
      <small>Autor: {{articulo.user}} - Fecha: {{articulo.fecha}}</small>
      <p class="pt-5">{{articulo.cuerpo | safe }}</p>
    </div>

    <div class="p-5 text-left">
      <h3 class="text-4xl pb-5 border-b-2 border-gray-400 rounded-sm">
        Comentarios
      </h3>

      {% for comentario in articulo.comentarios.all %}
      <div class="p-5 mt-5 rounded-xl bg-blue-200 drop-shadow-xl mx-52">
        <div class="pb-5">
          <h1 class="text-4xl font-bold">{{comentario.user}}</h1>
          <small>{{comentario.fecha}}</small>
        </div>
        <h2 class="text-xl font-bold">{{comentario.titulo}}</h2>
        <p class="text-xl">{{comentario.cuerpo | safe}}</p>
        {% if comentario.user == request.user %}
        <div
         class="flex gap-3 place-content-end">
          <a href="{% url "Eliminar Comentario" comentario.pk %}"
            class="bg-red-500 shadow-lg p-2 rounded-md text-white hover:bg-white hover:text-black mt-5"
          >Eliminar
          </a>
          <a href="{% url "Editar Comentario" comentario.pk %}"
            class="bg-green-500 shadow-lg p-2 rounded-md text-white hover:bg-white hover:text-black mt-5"
          >Editar
          </a>
        </div>
        {% endif %}
      </div>
      {% empty %}
      <h3 class="text-2xl text-gray-500 pt-5">Aún no hay comentarios...</h3>
      {% endfor %}

      <ul class="flex flex-row gap-3 items-center place-content-center">
        <a
          href="{% url 'Crear Comentario' articulo.pk %}"
          class="bg-indigo-500 shadow-lg p-2 rounded-md text-white hover:bg-white hover:text-black my-10"
          >Comentar
        </a>
        <a
          href="{% url 'Artículos' %}"
          class="bg-indigo-500 shadow-lg p-2 rounded-md text-white hover:bg-white hover:text-black my-10"
          >Volver
        </a>
      </ul>
    </div>
  </form>
</main>
{% endblock %}
