<!DOCTYPE html>
<html lang="en">
  {% load static tailwind_tags %}
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% tailwind_css %}
    <title>Blog</title>
    <script src="{% static 'django_blog/static/ckeditor' %}"></script>
  </head>
  <body class="bg-black">
    <header class="sticky top-0 z-50">
      <nav class="text-2xl p-5 bg-indigo-600 max-2xl:text-base">
        <ul class="flex flex-row gap-10 place-content-end mr-20 text-white items-center max-2xl:gap-8 max-2xl:items-center" >
          <li>
            <a href="{% url 'index' %}">Inicio</a>
          </li>
          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'Artículos' %}">Artículos</a>
          </li>
          <li>
            <a href="{% url 'Noticias' %}">Noticias</a>
          </li>
          {% endif %}
          <li>
            <a href="{% url 'Sobre Mi' %}">Sobre Mi</a>
          </li>
          {% if user.is_authenticated %}
          <form class="flex flex-row gap-4 pr-8 border-r-2 border-white" action="{% url "Resultados" %}" method="get">
            <input class="text-black" type="text" placeholder="Buscar..." name="titulo" id="id_titulo" />
            <button
              type="submit"
              class="bg-indigo-600 px-2 pb-1 rounded-xl text-white hover:bg-indigo-700 hover:text-white"
            >
              Buscar
            </button>
          {% endif %}
          </form>
          {% if not user.is_authenticated %}
          <li>
            <a href="{% url 'register' %}">Registrarse</a>
          </li>
          <li>
            <a href="{% url 'login' %}">Login</a>
          </li>
          {% endif %}
          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'logout' %}">Salir</a>
          </li>
          
          <li class="flex items-center gap-3">
            {% if request.user.avatar.imagen %}
            <img class="h-10 w-10 rounded-full" src="{{request.user.avatar.imagen.url}}" alt="{{request.user.username}}">
          {% endif %}
            <a href="{% url 'Perfil' request.user.username %}">{{request.user.username}}</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </header>

    {% block content %}

    <main class="text-center m-10 bg-slate-200 p-10 rounded-xl">
      <div class="relative text-center">
        <img class="w-4/5 mx-auto rounded-xl opacity-80" src="../../media/IMG_20230315_095245168_HDR.jpg" alt="fondo_de_pantalla_inicio">
        <div class="text-5xl stroke-2 font-bold absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" for="html">Bienvenidos a mi Blog</div>
      </div>
      <p class="m-5 mx-60 text-2xl">
        
      </p>
    </main>

    {% endblock %}
    <footer class="text-center pb-5 text-white">
      <small
        >©️ Copyright
        <a class="text-blue-400" href="https://ness733.github.io"
          >Nestor Rosales</a
        >
        2023 - Entrega Final CoderHouse</small
      >
    </footer>
    
  </body>
</html>
