{% extends "./index.html" %} {% load static tailwind_tags %} {% block content %}
<main class="text-center m-10 bg-slate-200">
  <h1>Sección Noticias</h1>
  <h2>Noticias</h2>
  <button
  class="bg-indigo-500 shadow-lg p-2 rounded-md text-white hover:bg-white hover:text-black mt-5"
>
  <a href="{% url 'Crear Noticia' %}">Nueva Noticia</a>
</button>
<ul class="px-60 py-5">
  {% if noticia %}
  <ul class="px-60 py-5">
    {% for n in noticia %}
    <li><h2 class="text-5xl mb-5 text-left">{{n.titulo}} <small class="text-gray-400">- #{{n.id}}</small></h2></li>
    <div class="text-left"><small>{{n.fecha}}</small></div>
    <p class="mt-5 text-left my-10">{{n.cuerpo}}</p>
    {% endfor %}
  </ul>
  {% endif %}
</main>
{% endblock %}
